* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.claim-button {
  padding: 10px 20px; /* Adjust as needed */
  background-color: #3498db; /* Color of your choice */
  color: #ffffff; /* Text color */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  font-size: 16px; /* Adjust as needed */
  outline: none; /* Removes the default focus outline */
  animation: pointing 1s infinite; /* Applying the animation */
}

.nft-image {
  width: 300px; /* Adjust this value to your desired width */
  height: auto; /* Maintain the aspect ratio */
  border: 5px solid white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
  transition: opacity 1s ease-in-out; /* For the fade-in effect */
  opacity: 0; /* Initially, the image is transparent */
}

.nft-image[src]:not([src=""]) {
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}

@keyframes pointing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.nft-display,
.nft-claim-section {
  margin-left: 500px;
}

.nft-title {
  margin-top: 20px;
}

.nft-claim-section .claim-button {
  margin-top: 20px;
  padding: 10px 90px;
}

/* Mobile responsiveness */
@media screen and (max-width: 900px) {
  .nft-display,
  .nft-claim-section {
    margin-left: 100px;
  }
}

@media screen and (max-width: 700px) {
  .nft-display,
  .nft-claim-section {
    margin-left: 50px;
  }
}

@media screen and (max-width: 500px) {
  .nft-display,
  .nft-claim-section {
    margin-left: 20px;
  }

  .nft-claim-section .claim-button {
    padding: 10px 50px;
  }
}

@media screen and (max-width: 400px) {
  .nft-display,
  .nft-claim-section {
    margin-left: 10px;
  }
}
