/* App.css */
button {
  transition: transform 0.3s ease, background-color 0.3s ease;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: 16px; /* Added font size for clarity */
}

button.recording {
  transform: scale(1.1);
  background-color: #ff5733;
}

@media screen and (max-width: 650px) {
  button {
    padding: 8px 16px; /* Slightly smaller padding for smaller screens */
    font-size: 14px; /* Smaller font size for smaller screens */
  }
}

@media screen and (max-width: 450px) {
  button {
    padding: 6px 12px; /* Even smaller padding for very small screens */
    font-size: 12px; /* Even smaller font size for very small screens */
  }
}
